/* Mobile devices */
@media (max-width: 767px) {
  body {
    font-size: 14px; /* Smaller font size for mobile */
  }
}

/* Tablet devices */
@media (min-width: 768px) and (max-width: 1024px) {
  body {
    font-size: 15px; /* Medium font size for tablets */
  }
}
/* Desktop devices */
@media (min-width: 1025px) {
  .sideBarLogOut {
    margin-top: 500px !important;
  }

  .nav-item {
    font-size: inherit !important;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
  }
}
